In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2022-01-17 02:08:25,64.3833,-173.3000,3.31,60,0,8.95
1,1,Ancud,CL,2022-01-17 02:08:25,-41.8697,-73.8203,46.42,76,10,8.01
2,2,Albany,US,2022-01-17 02:04:59,42.6001,-73.9662,26.22,58,100,4.03
3,3,Sitka,US,2022-01-17 02:08:25,57.0531,-135.3300,37.29,87,75,9.22
4,4,Beringovskiy,RU,2022-01-17 02:08:26,63.0500,179.3167,-14.06,88,30,18.07

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speeds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speeds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Rikitea,PF,2022-01-17 02:08:26,-23.1203,-134.9692,77.47,70,38,7.20
8,8,Cidreira,BR,2022-01-17 02:08:27,-30.1811,-50.2056,76.26,90,100,4.21
11,11,Busselton,AU,2022-01-17 02:04:07,-33.6500,115.3333,75.04,34,5,9.91
13,13,Cockburn Town,TC,2022-01-17 02:07:43,21.4612,-71.1419,78.53,76,4,16.40
18,18,Caravelas,BR,2022-01-17 02:08:29,-17.7125,-39.2481,75.60,90,0,4.59
23,23,Tual,ID,2022-01-17 02:08:30,-5.6667,132.7500,79.16,85,100,18.14
26,26,Vaini,TO,2022-01-17 02:08:31,-21.2000,-175.2000,80.76,82,21,18.68
33,33,Arraial Do Cabo,BR,2022-01-17 02:03:41,-22.9661,-42.0278,75.52,87,100,22.95
37,37,Atuona,PF,2022-01-17 02:08:33,-9.8000,-139.0333,78.87,77,20,20.85
42,42,Georgetown,MY,2022-01-17 02:05:57,5.4112,100.3354,84.13,75,20,9.22

In [11]:
# Determine if any null values
preferred_cities_df.count()

City_ID       140
City          140
Country       140
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
6           Rikitea      PF     77.47 -23.1203 -134.9692
8          Cidreira      BR     76.26 -30.1811  -50.2056
11        Busselton      AU     75.04 -33.6500  115.3333
13    Cockburn Town      TC     78.53  21.4612  -71.1419
18        Caravelas      BR     75.60 -17.7125  -39.2481
23             Tual      ID     79.16  -5.6667  132.7500
26            Vaini      TO     80.76 -21.2000 -175.2000
33  Arraial Do Cabo      BR     75.52 -22.9661  -42.0278
37           Atuona      PF     78.87  -9.8000 -139.0333
42       Georgetown      MY     84.13   5.4112  100.3354

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. . . skipping.")

Hotel not found. . . skipping.
Hotel not found. . . skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Rikitea,PF,77.47,-23.1203,-134.9692,People ThankYou
8,Cidreira,BR,76.26,-30.1811,-50.2056,Hotel Castelo
11,Busselton,AU,75.04,-33.6500,115.3333,Observatory Guest House
13,Cockburn Town,TC,78.53,21.4612,-71.1419,Osprey Beach Hotel
18,Caravelas,BR,75.60,-17.7125,-39.2481,Pousada dos Navegantes
23,Tual,ID,79.16,-5.6667,132.7500,Grand Vilia Hotel
26,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
33,Arraial Do Cabo,BR,75.52,-22.9661,-42.0278,Pousada Porto Praia
37,Atuona,PF,78.87,-9.8000,-139.0333,Villa Enata
42,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))